body {
    font-family: Arial;
    background-color: #f5eee3;
    color: #333333;
    margin: 0;
}


/* Header */

header {
    background-color: #8b542b;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 10px;
}
header h2 {
  color:white}

/* Navigation */

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* Main section */

main {
    width: 85%;
    margin: 30px auto;
    text-align: center;
}

h2 {
    color: #7b4b28;
}
button {
    width: 250px;
    height: 60px;
    font-size: 20px;
    background-color: #8B542B;
    color: white;
    border: none;
}

/* Button */

.button {
    display: inline-block;
    background-color: #8b542b;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    margin: 15px;
}

.button:hover {
    background-color: #6f401f;
}


/* Home layout */

.house {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

.house td {
    border: 3px solid #8b542b;
    background-color: white;
    height: 100px;
    width: 33%;
    text-align: center;
}

.house a {
    color: #7b4b28;
    text-decoration: none;
    font-weight: bold;
}

.house a:hover {
    text-decoration: underline;
}

.center {
    background-color: #ead8bd !important;
    font-weight: bold;
}


/* Room sections */

.room {
    background-color: white;
    border: 2px solid #d6c5b1;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-align: left;
}

.room h2 {
    margin-top: 0;
}


/* Footer */

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}